.rightB,
.leftB {
    color: var(--grey);
    font-size: 24px;
    padding: 2px;
    font-weight: bold;
    border: none;
    outline: none;
    background: var(--white);
    transition: all linear .2s;
}
.rightB{
	margin-bottom: 10px !important;
	display: inline-block;
}

.leftB:hover,
.rightB:hover {
    color: var(--white);
    background: var(--pColor);
}


@media only screen and (max-width: 600px) {
	.rightB,
    .leftB{
    	padding:5px;
    }

    .inputSec {
        flex-direction: column;
        align-items: center;
    }

    .imgSec .imgWrapper .img img {
        width: 100% !important;
        border-radius: 15px !important;
        filter: grayscale(100%);
        border: 1px solid transparent;
        transition: all linear .2s;
    }
    .onlyM{
    	margin: 30px 10px !important;
    	padding: 0 !important;
    }
}